// Specific CSS for your home-page
.home-image {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/12/14/52/architecture-983920_1280.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home_title {
  margin-top: 350px;
  margin-left: 200px;
}

.home-label {
  color: #393a34;
  font-size: larger;
  background-color: #e1e5f2;
  border-radius: 35px;
  padding: 14px;
  width: 180px;
  border-style: solid;
  border-width: thin;
}

.home-label-location {
  color: #393a34;
  font-size: larger;
  background-color: #e1e5f2;
  border-radius: 35px;
  padding: 13px;
  width: 152px;
  border-style: solid;
  border-width: thin;
}

.home-input {
  border-radius: 35px;
  border: none;
  padding: 16px;
  position: absolute;
  margin-left: -59px;
  width: 182px;
  border-style: solid;
  border-width: thin;
}

.home-input-location {
  border-radius: 35px;
  border: none;
  padding: 16px;
  position: absolute;
  margin-left: -59px;
  width: 182px;
  border-style: solid;
  border-width: thin;
}

.home-input-submit {
  border-radius: 35px;
  border: none;
  padding: 16px;
  position: absolute;
  margin-left: -100px;
  width: 84px;
  border-style: solid;
  border-width: thin;
  margin-top: 5px;
}

.home-input:focus {
  outline: none;
  border-style: solid;
  border-width: thin;
}

.home-input-location:focus {
  outline: none;
  border-style: solid;
  border-width: thin;
}

.home-input-submit:focus {
  outline: none;
  border-style: solid;
  border-width: thin;
}

.searchbar {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  padding: 30px;
  margin: 10px 100px;
  align-items: center;
}

.content-navbar {
  display: flex;
  justify-content: space-between;
}

.content-details {
  margin: 0;
  align-items: center;
}

.form-select {
  border-style: none;
  outline: none;
  margin: auto 5px;
  padding: 19px;
  border-radius: 35px;
  font-size: larger;
  border-style: solid;
  border-width: thin;
}
