.rounded-corner {
  border-radius: 6px;
  width: 150px;
  margin: 0 auto;
  background-color: #1f7a8c;
  opacity: 0.6;
}

.button-change .btn-search {
  height: 50px;
  font-weight: bold;
  font-size: large;
}
