.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
}

.card {
  position: relative;
  --surface-color: #fff;
  display: block;
  height: 300px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #022B3A;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #1F7A8C;
}

.card__status {
  font-size: 0.8em;
  color: #1F7A8C;
}

.card__description {
  padding: 0 2em 1em;
  margin: 0;
  color: #022B3A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.container-index {
  display: flex;
}

#map{
  position: sticky;
  top: 0;
  height: 100vh;
}

.container-categories{
  display: flex;
}

.search_category_boxes{
  display: flex;
}

.search_category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #80AFBB;
  color: white;
  text-shadow: 1px 1px 1px rgba(78, 78, 78, 0.164);
  border-radius: 20px;
  margin-right: 10px;
  padding: 2px;
  padding-left: 26px;
  padding-right: 26px;
  font-weight: bold;
  font-size: 15px;
  transition: 300ms;
}

.search_category:hover{
  transform: translateY(-10px);
}

// .categories-btn{
//   padding: 10px;
//   padding-left: 19px;
//   padding-right: 19px;
//   border-radius: 20px;
//   border-color: #1F7A8C;
// }

.categories-btn {
  padding: 10px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 20px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-color: white;
  border-style: solid;
  text-shadow: 1px 1px 1px rgba(78, 78, 78, 0.164);
  font-weight: bold;
  font-size: large;
}

.categories-btn {
  background-image: linear-gradient(to right, #80AFBB 0%, #badfe9 51%, #80AFBB 100%);
}

.categories-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}
