.piece_price_show{
  background-color: #1F7A8C;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(197, 197, 197, 0.233);
  font-weight: 500;
}
// mt-2 bg-primary p-1 text-white text-center
