.piece_price_show {
  background-color: #1f7a8c;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(197, 197, 197, 0.233);
  font-weight: 500;
}
// mt-2 bg-primary p-1 text-white text-center
.btn-ghost-green {
  color: white;
  background-color: #80afbb;
  border: 1px solid white;
  padding: 5px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  align-items: center;
}

.btn-ghost-green:hover {
  color: black;
}

.button-show{
  font-weight: bold;
  font-size: large;
  margin: 5px;
}
