
<body class="layout home-image">
  <div class="searchbar">
    <label class="home-label" for="">Location</label>
    <input class="home-input" type="text">
    <label class="home-label" for="">Starting date</label>
    <input class="home-input" type="date">
    <label class="home-label" for="">Ending date</label>
    <input class="home-input" type="date">
    <select class="form-select" aria-label="Default select example">
      <option selected>Categories</option>
      <option value="1">Sculpture</option>
      <option value="2">Painting</option>
      <option value="3">Picture</option>
      <option value="3">Illustration</option>
    </select>
    <input class="home-input" type="submit">
  </div>

  <h1 class="home_title">Bring art wherever you want</h1>
</body>
