

  <div class="container">
    <div class="container-center">
      <img src="https://i.icanvas.com/list-square/modern-living.jpg" alt="art piece">
      <div class="text-center">
        <div class="text-home">
          <h1 class="home_title"> ARTBNB</h1>
          <h2 class="home_slogan">Bring <mark class="highlight">art</mark> wherever you want</h2>
        </div>
        <%= link_to "Start your search", pieces_path , class: "nav-link btn-search mx-auto" %>
      </div>
    </div>
  </div>
