<div class="searchbar">
  <label for="">Location</label>
  <input type="text">
  <label for="">Starting date</label>
  <input type="date">
  <label for="">Ending date</label>
  <input type="date">
  <select class="form-select" aria-label="Default select example">
    <option selected>Categories</option>
    <option value="1">Sculpture</option>
    <option value="2">Painting</option>
    <option value="3">Picture</option>
    <option value="3">Illustration</option>
  </select>
  <input type="submit">
</div>

<h1>Bring art wherever you want</h1>
