<body class="layout home-image">
  <div class="searchbar">
    <div class="content-navbar">
      <div class="content-details">
        <label class="home-label-location" for="">Location</label>
        <input class="home-input-location" type="text">
      </div>
      <div class="content-details">
        <label class="home-label" for="">Starting date</label>
        <input class="home-input" type="date">
      </div>
      <div class="content-details">
        <label class="home-label" for="">Ending date</label>
        <input class="home-input" type="date">
      </div>
      <div class="content-details">
        <select class="form-select" aria-label="Default select example">
          <option selected>Categories</option>
          <option value="1">Sculpture</option>
          <option value="2">Painting</option>
          <option value="3">Picture</option>
          <option value="3">Illustration</option>
        </select>
      </div>
      <div class="content-details">
        <input class="home-input-submit" type="submit">
      </div>
    </div>
  </div>
  <div>
    <h1 class="home_title">Bring art wherever you want</h1>
  </div>
</body>
