.card__image__booking {
  width: 35%;
}

.piece_price_show_booking {
  background-color: #80afbb;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(197, 197, 197, 0.233);
  font-weight: 500;
  width: 100%;
}
