.navbar-lewagon {
  background: white;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.btn-search {
  color: white;
  border: 1px solid #1F7A8C;
  background-color: #1F7A8C;
  padding: 6px 16px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.btn-search:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: white;
  text-decoration: none;
}
